* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo,
.user {
    text-align: center;
    margin: 10px auto;
}

.funcoes {
    width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

form>input {
    height: 40px;
    padding: 0 2px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}

form>button {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    transition: .5s;
}

form>button:hover {
    cursor: pointer;
    opacity: .8;
    color: black;
}

.adicionar {
    display: flex;
}

.add {
    background-color: cornflowerblue;
    border: none;
    font-size: 18px;
    padding: 5px;
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.filtros{
    display: flex;
    gap: 10px;
}

.ativo,
.inativo {
    border: none;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.ativo {
    background-color: green;
}

.inativo {
    background-color: red;
}

.add:hover,
.ativo:hover,
.inativo:hover {
    opacity: .8;
    color: black;
}

table {
    width: 800px;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: left;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

thead>tr {
    background-color: cornflowerblue;
    color: white;
}

tr>th,
tr>td {
    padding: 15px 20px;
}

tbody>tr:nth-last-of-type(even) {
    background-color: rgba(0, 0, 0, 0.100);
}

tbody>tr:last-of-type {
    border-bottom: 3px solid cornflowerblue;
}

tbody>tr{
    transition: .5s;
}

tbody>tr:hover {
    background-color: cornflowerblue;
    opacity: .8;
    cursor: pointer;
}

.pagination {
    display: flex;
    width: 800px;
    margin: 5px auto;
    gap: 5px;
    justify-content: center;
}

.pagination>a {
    background-color: cornflowerblue;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.pagination>a:hover {
    opacity: .8;
    color: black;
}

#check {
    color: green;
}

#over {
    color: red;
}

.sair{
    background-color: red;
    border: none;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    transition: .5s;
}

.sair:hover{
    opacity: .8;
    color: black;
}

.ver_user{
    background-color: cornflowerblue;
    border: none;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    transition: .5s;
}

.ver_user:hover{
    opacity: .8;
    color: black;
}