{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'adicionar.css' %}">
    <script defer src="{% static 'jquery.mask.js' %}"></script>
    <script defer src="{% static 'jquery.mask.min.js' %}"></script>
    <title>Editar</title>
</head>

<body>
    <h1>Editar Contato</h1>
    <form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
        <input class="nome" name="nome" value="{{contato.nome}}" type="text" placeholder="Nome">
        <input class="cpf" name="cpf" value="{{contato.cpf}}" type="text" placeholder="CPF">
        <input class="email" name="email" value="{{contato.email}}" type="text" placeholder="Email">
        <input class="telefone" name="telefone" value="{{contato.telefone}}" type="text" placeholder="Telefone">
        <input class="altura" name="altura" value="{{contato.altura}}" type="text" placeholder="Altura">
        <input class="descricao" name="descricao" value="{{contato.descricao}}" type="text" placeholder="Descrição">
        <input class="data_nascimento" name="data_nascimento" value="{{contato.data_nascimento | date:'Y-m-d' }}"
            type="date">
        <input class="ativo" name="ativo" type="checkbox" {% if contato.ativo==True %} checked {% endif %}>
        <!-- #TO DO: verificar alteração de fotos -->
        <input class="imagem" name="imagem" value="{{contato.imagem.url}}" type="file">
        <button type="submit">Editar</button>
    </form>

    <script>
        $(document).ready(function () {
            $('.altura').mask('0.00')
            $('.cpf').mask('000.000.000-00')
            $('.telefone').mask('(00) 00000-0000')
        })
    </script>

</body>

</html>